<template>
  <v-app style="background-color: #20202f;">
    <v-app-bar app color="accent">
      <v-app-bar-nav-icon class="closeSidebar" @click.stop="toggleSidebar"></v-app-bar-nav-icon>
      <h4 class="mt-2" style="font-size: 20px;">Daftar Kelas</h4>
      <v-spacer></v-spacer>
      <v-btn class="ml-auto mr-6" outlined>Login</v-btn>
      <v-avatar size="37" style="cursor: pointer;">
        <img src="~/assets/images/avatar.jpeg" alt="Profile Image">
      </v-avatar>
    </v-app-bar>
    <v-main>
      <v-container>
        <div class="filter-search-wrapper">
          <v-row>
            <v-col cols="12">
              <v-text-field v-model="search" placeholder="Cari" outlined class="search-input mb-4"
                prepend-inner-icon="mdi-magnify" style="max-width: 85vw;"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="10" class="align-self-flex-start"> <!-- Tambahkan class align-self-flex-start -->
              <v-btn @click="openFilterDialog" class="filter-btn" color="priority" max-width="200">
                <v-icon left>mdi-filter</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </div>
        <div class="text-right mb-4">
          <v-btn @click="addKelas" color="primary">
            <v-icon left>mdi-plus-circle-outline</v-icon>
            KELAS
          </v-btn>
          <div class="header mb-4 mt-4">
            <span>2023/2024 | Tingkat 10</span>
          </div>
        </div>
        <div>
          <v-card class="card1">
            <v-card class="card2">
              <table style="width: 80vw;">
                <thead>
                  <tr>
                    <th>Tahun Ajaran</th>
                    <th>Tingkat</th>
                    <th>Nama</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item) in filteredData" :key="item.id">
                    <td>{{ item.thnAjaran }}</td>
                    <td>{{ item.tingkat }}</td>
                    <td>{{ item.nama }}</td>
                  </tr>
                </tbody>
              </table>
            </v-card>
          </v-card>
        </div>
      </v-container>
    </v-main>
    <Sidebar class="transition" v-model="sidebarOpen" /> <!-- Gunakan komponen Sidebar di sini -->

    <v-dialog v-model="showAddClassDialog" max-width="500" persistent>
      <v-card style="height: 42vh;">
        <v-card-title class="headline d-flex justify-center">Tambah Kelas Baru</v-card-title>
        <v-card-text class="text-center">
          <v-row>
            <v-col cols="12">
              <v-select v-model="selectedYear" :items="years" label="Tahun Ajaran"></v-select>
            </v-col>
            <v-col cols="12">
              <v-select v-model="selectedLevel" :items="levels" label="Tingkat"></v-select>
            </v-col>
            <v-col cols="12">
              <v-text-field v-model="newClassName" label="Nama Kelas"></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions class="d-flex justify-center button-group">
          <v-btn color="error" @click="cancelAddClass">
            <v-icon left>mdi-close-circle-outline</v-icon>
            Batal
          </v-btn>
          <v-btn color="primary" @click="saveClass">
            <v-icon left>mdi-check-circle-outline</v-icon> <!-- Icon disini -->
            Simpan
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialog filter -->
    <v-dialog v-model="filterDialog" max-width="600">
      <v-card style="height: 35vh;">
        <v-card-title>Filter</v-card-title>
        <v-card-text>
          <v-col>
            <v-row cols="10">
              <v-select v-model="selectedYear" :items="years" label="Tahun Ajaran"
                style="width: max-content;"></v-select>
            </v-row>
            <v-row cols="10">
              <v-select v-model="selectedLevel" :items="levels" label="Tingkat" style="width: max-content;"></v-select>
            </v-row>
          </v-col>
        </v-card-text>
        <v-card-actions class="d-flex justify-center">
          <v-btn color="error" @click="cancelAddClass">
            <v-icon left>mdi-close-circle-outline</v-icon>
            Batal
          </v-btn>
          <v-btn color="primary" @click="saveClass">
            <v-icon left>mdi-check-circle-outline</v-icon> <!-- Icon disini -->
            Simpan
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
import Sidebar from '~/components/Sidebar.vue'; // Import komponen Sidebar

export default {
  components: {
    Sidebar, // Daftarkan komponen Sidebar di halaman ini
  },
  data() {
    return {
      data: [
        { id: 1, thnAjaran: '2021/2022', tingkat: 'X', nama: 'X MIPA 1' },
        { id: 2, thnAjaran: '2021/2022', tingkat: 'X', nama: 'X MIPA 2' },
        { id: 3, thnAjaran: '2021/2022', tingkat: 'X', nama: 'X MIPA 3' },
        { id: 4, thnAjaran: '2021/2022', tingkat: 'X', nama: 'X MIPA 4' },
      ],
      search: '', // Untuk menyimpan kata kunci pencarian
      sidebarOpen: false, // Buat variabel untuk mengontrol keadaan sidebar
      filterDialog: false, // Variabel untuk mengontrol tampilan dialog filter
      selectedYear: '', // Menyimpan tahun ajaran yang dipilih dari dropdown
      selectedLevel: '', // Menyimpan tingkat yang dipilih dari dropdown
      years: ['2021/2022', '2022/2023', '2023/2024'], // Pilihan tahun ajaran
      levels: ['X', 'XI', 'XII'], // Pilihan tingkat
      showAddClassDialog: false, // Menyimpan status dialog tambah kelas
      newClassName: '', // Menyimpan nama kelas baru
    };
  },
  computed: {
    filteredData() {
      // Filter data berdasarkan kata kunci pencarian
      return this.data.filter(item =>
        item.thnAjaran.toLowerCase().includes(this.search.toLowerCase()) ||
        item.tingkat.toLowerCase().includes(this.search.toLowerCase()) ||
        item.nama.toLowerCase().includes(this.search.toLowerCase())
      );
    }
  },
  methods: {
    toggleSidebar() {
      this.sidebarOpen = !this.sidebarOpen; // Fungsi untuk mengubah status sidebar
    },
    deleteItem(index) {
      this.data.splice(index, 1); // Menghapus item dari data
    },
    addKelas() {
      console.log('Tambah kelas'); // Tambah
      this.showAddClassDialog = true; // Tampilkan dialog tambah kelas saat tombol tambah kelas diklik
    },
    cancelAddClass() {
      this.showAddClassDialog = false; // Tutup dialog tambah kelas saat tombol batal diklik
      this.selectedYear = ''; // Reset pilihan tahun ajaran
      this.selectedLevel = ''; // Reset pilihan tingkat
      this.newClassName = ''; // Reset nama kelas
    },
    saveClass() {
      // Simpan kelas baru di sini
      console.log('Tahun Ajaran:', this.selectedYear);
      console.log('Tingkat:', this.selectedLevel);
      console.log('Nama Kelas:', this.newClassName);
      this.showAddClassDialog = false; // Tutup dialog setelah kelas disimpan
      this.selectedYear = ''; // Reset pilihan tahun ajaran
      this.selectedLevel = ''; // Reset pilihan tingkat
      this.newClassName = ''; // Reset nama kelas

      this.cancelAddClass(); // Panggil fungsi cancelAddClass untuk meres
    },
    openFilterDialog() {
      this.filterDialog = true; // Membuka dialog filter saat tombol filter diklik
    },
    closeFilterDialog() {
      this.filterDialog = false; // Menutup dialog filter saat tombol Batal diklik
    },
    applyFilters() {
      // Terapkan filter yang dipilih di sini
      console.log('Tahun Ajaran yang dipilih:', this.selectedYear);
      console.log('Tingkat yang dipilih:', this.selectedLevel);
      this.filterDialog = false; // Tutup dialog setelah filter diterapkan
    }
  },
};
</script>

<style scoped>
.transition {
  transition: transform 0.3s ease-in-out;
}

.closeSidebar {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.search-input {
  width: 90vw;
}

.filter-search-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* Tambahkan properti align-items */
  margin-bottom: 20px;
  /* Adjust the margin as needed */
}

.filter-btn {
  max-width: 200px;
  /* Set maximum width for filter button */
  align-self: flex-start;
  /* Tambahkan properti align-self */
}

.card1 {
  width: 300vw;
  height: 55vh;
  background-color: #232A3F;
  border-radius: 10px;
  overflow: hidden;
}

.card2 {
  margin-top: 2%;
  width: 90vw;
  height: 46vh;
  display: inline-flex;
  justify-content: center;
  background-color: #232A3F;
  overflow: hidden;
}

table {
  width: 80vw;
  background-color: #191925;
  border-collapse: collapse;
  overflow: hidden;
}

th,
td {
  padding: 12px;
  /* Atur jarak di tepi sel */
  text-align: left;
  /* Garis bawah untuk setiap baris */
}

th {
  background-color: #232A3F;
  margin-bottom: 10px;
  color: #fff;
  /* Warna teks untuk header */
}

tr:nth-child(even) {
  background-color: #232A3F;
}

tr:nth-child(odd) {
  background-color: #191925;
}
</style>
