<!-- pages/index.vue -->
<template>
  <v-app style="background-color: #20202f;">
    <v-app-bar app color="accent">
      <v-app-bar-nav-icon class="closeSidebar" @click.stop="toggleSidebar"></v-app-bar-nav-icon>
      <h4 class="mt-2" style="font-size: 20px;">Dashboard</h4>
      <v-spacer></v-spacer>
      <v-btn class="ml-auto mr-6" outlined>Login</v-btn>
      <v-avatar size="37" style="cursor: pointer;">
        <img src="~/assets/images/avatar.jpeg" alt="Profile Image">
      </v-avatar>
    </v-app-bar>
    <v-main>
      <v-container>
        <div>
          <CardChart />
        </div>
      </v-container>
    </v-main>
    <Sidebar class="transition" v-model="sidebarOpen" />
  </v-app>
</template>

<script>
import Sidebar from '~/components/Sidebar.vue';
import CardChart from '../../components/CardChart.vue';

export default {
  components: {
    Sidebar,
    CardChart
  },
  data() {
    return {
      sidebarOpen: false,
      isSmallScreen: false // Menyimpan status layar kecil atau tidak
    };
  },
  methods: {
    toggleSidebar() {
      this.sidebarOpen = !this.sidebarOpen;
    },
    checkScreenSize() {
      this.isSmallScreen = window.innerWidth <= 600; // Sesuaikan dengan lebar layar yang diinginkan
      if (this.isSmallScreen) {
        this.sidebarOpen = false; // Tutup sidebar jika layar kecil
      }
    }
  },
  mounted() {
    this.checkScreenSize(); // Panggil saat komponen dimount
    window.addEventListener('resize', this.checkScreenSize); // Tambahkan event listener untuk memantau perubahan lebar layar
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.checkScreenSize); // Hapus event listener sebelum komponen dihancurkan
  }
};
</script>

<style scoped>
.transition {
  transition: transform 0.3s ease-in-out;
}

.closeSidebar {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

/* Gunakan media query untuk mengubah perilaku sidebar pada layar kecil */
@media only screen and (max-width: 600px) {
  .transition {
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  .closeSidebar {
    transform: translateX(100%);
  }
}
</style>
