<template>
  <v-app style="background-color: #20202f;">
    <v-app-bar app color="accent">
      <v-app-bar-nav-icon class="closeSidebar" @click.stop="toggleSidebar"></v-app-bar-nav-icon>
      <h4 class="mt-2" style="font-size: 20px;">Periode Akademik</h4>
      <v-spacer></v-spacer>
      <v-btn class="ml-auto mr-6" outlined>Login</v-btn>
      <v-avatar size="37" style="cursor: pointer;">
        <img src="~/assets/images/avatar.jpeg" alt="Profile Image">
      </v-avatar>
    </v-app-bar>
    <v-main>
      <v-container>
        <v-text-field v-model="search" placeholder="Cari" outlined class="search-input mb-4"
          prepend-inner-icon="mdi-magnify"></v-text-field>
        <div>
          <v-card class="card1">
            <v-card class="card2">
              <table style="width: 80vw;">
                <thead>
                  <tr>
                    <th>Tahun Ajaran</th>
                    <th>Status</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, index) in filteredData" :key="item.id">
                    <td>{{ item.tahunAjaran }}</td>
                    <td><v-checkbox v-model="item.status" true-value="Aktif" false-value="Tidak Aktif"
                        color="success"></v-checkbox></td>
                    <td>
                      <v-icon @click="deleteItem(index)" style="cursor: pointer;">mdi-delete</v-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
            </v-card>
          </v-card>
        </div>
      </v-container>
    </v-main>
    <Sidebar class="transition" v-model="sidebarOpen" /> <!-- Gunakan komponen Sidebar di sini -->
  </v-app>
</template>
  
<script>
import Sidebar from '~/components/Sidebar.vue'; // Import komponen Sidebar

export default {
  components: {
    Sidebar, // Daftarkan komponen Sidebar di halaman ini
  },
  data() {
    return {
      data: [
        { id: 1, tahunAjaran: '2020/2021', status: 'Aktif' },
        { id: 2, tahunAjaran: '2021/2022', status: 'Tidak Aktif' },
        { id: 3, tahunAjaran: '2022/2023', status: 'Tidak Aktif' },
        { id: 4, tahunAjaran: '2023/2024', status: 'Tidak Aktif' },
        { id: 5, tahunAjaran: '2024/2025', status: 'Tidak Aktif' },
        { id: 6, tahunAjaran: '2025/2026', status: 'Tidak Aktif' },
        { id: 7, tahunAjaran: '2026/2027', status: 'Tidak Aktif' },
      ],
      search: '', // Untuk menyimpan kata kunci pencarian
      sidebarOpen: false, // Buat variabel untuk mengontrol keadaan sidebar
    };
  },
  computed: {
    filteredData() {
      // Filter data berdasarkan kata kunci pencarian
      return this.data.filter(item =>
        item.tahunAjaran.toLowerCase().includes(this.search.toLowerCase()) ||
        item.status.toLowerCase().includes(this.search.toLowerCase())
      );
    }
  },
  methods: {
    toggleSidebar() {
      this.sidebarOpen = !this.sidebarOpen; // Fungsi untuk mengubah status sidebar
    },
    deleteItem(index) {
      this.data.splice(index, 1); // Menghapus item dari data
    },
  },
};
</script>
  
<style scoped>
.transition {
  transition: transform 0.3s ease-in-out;
}

.closeSidebar {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.card1 {
  width: 300vw;
  height: 55vh;
  background-color: #232A3F;
  border-radius: 20px;
  overflow: hidden;
}

.card2 {
  margin-top: 2%;
  width: 90vw;
  height: 46vh;
  display: inline-flex;
  justify-content: center;
  background-color: #232A3F;
  overflow: hidden;
}

table {
  width: 80vw;
  background-color: #191925;
  border-collapse: collapse;
  overflow: hidden;
}

th,
td {
  padding: 12px;
  /* Atur jarak di tepi sel */
  text-align: left;
  /* Garis bawah untuk setiap baris */
  }

th {
  background-color: #232A3F;
  margin-bottom: 10px;
  color: #fff;
  /* Warna teks untuk header */
}

tr:nth-child(even) {
  background-color: #232A3F;
}

tr:nth-child(odd) {
  background-color: #191925;
}
</style>
