<template>
    <div class="flex-container">
        <div class="card" :style="{ width: chart1Width, height: chart1Height }">
            <div class="chart">
                <canvas ref="myChart" width="500" height="500"></canvas>
                <div class="chart-center-text">
                    <span class="chart-text" style="font-weight: 900; font-size: 40px;">120</span>
                    <span class="chart-text" style="font-weight: 300;">Total Data</span>
                </div>
            </div>
        </div>

        <div class="card" :style="{ width: chart2Width, height: chart2Height }">
            <div class="chart">
                <canvas ref="mySecondChart" width="800" height="500"></canvas>
            </div>
        </div>
    </div>
</template>
  
<script>
import Chart from 'chart.js';

export default {
    data() {
        return {
            chart1Width: '40vw',
            chart1Height: '35vw',
            chart2Width: '40vw',
            chart2Height: '35vw',
        };
    },
    mounted() {
        this.renderChart();
        this.renderSecondChart();
    },
    methods: {
        renderChart() {
            const ctx = this.$refs.myChart.getContext('2d');
            new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Guru', 'Staff'],
                    datasets: [
                        {
                            data: [35, 19],
                            backgroundColor: ['#83EE99', '#015FFB'],
                            borderColor: ['#83EE99', '#015FFB'],
                        },
                    ],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    cutoutPercentage: 90,
                    legend: {
                        position: 'right',
                        labels: {
                            fontColor: '#fff',
                            fontSize: 14,
                            usePointStyle: true,
                            padding: 40,
                        },
                    },
                    layout: {
                        padding: {
                            left: 30,
                        },
                    },
                    tooltips: {
                        enabled: true,
                        mode: 'single',
                        callbacks: {
                            label: function (tooltipItems, data) {
                                return (
                                    data.labels[tooltipItems.index] +
                                    ': ' +
                                    data.datasets[0].data[tooltipItems.index] +
                                    '%'
                                );
                            },
                        },
                    },
                },
            });
        },
        renderSecondChart() {
            const ctx = this.$refs.mySecondChart.getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Guru Laki-Laki', 'Staff Laki-Laki', 'Guru Perempuan', 'Staff Perempuan'],
                    datasets: [
                        {
                            barPercentage: 0.5,
                            barThickness: 20,
                            data: [80, 40, 60, 80],
                            backgroundColor: ['#83EE99', '#007E19', '#AFCEFF', '#015FFB'],
                            borderColor: ['#83EE99', '#007E19', '#AFCEFF', '#015FFB'],
                            borderWidth: 1,
                        },
                    ],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 30,
                        },
                    },
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: '#fff',
                            fontSize: 14,
                            usePointStyle: true,
                            padding: 40,
                        },
                    },
                    scales: {
                        yAxes: [
                            {
                                ticks: {
                                    beginAtZero: true,
                                },
                            },
                        ],
                    },
                    tooltips: {
                        enabled: true,
                        mode: 'single',
                        callbacks: {
                            label: function (tooltipItems, data) {
                                return data.labels[tooltipItems.index] + ': ' + tooltipItems.parsed.y + '%';
                            },
                        },
                    },
                },
            });
        },
        updateChartSize() {
            this.chart1Width = this.chart2Width = '100%';
            this.chart1Height = this.chart2Height = '100vh';
        },
        resetChartSize() {
            this.chart1Width = this.chart2Width = '40vw';
            this.chart1Height = this.chart2Height = '35vw';
        },
    },
};
</script>
  
<style scoped>
.flex-container {
    display: flex;
}

.card {
    background-color: #191925 !important;
    margin-right: 20px;
}

.chart {
    top: 15%;
    margin: 0 auto;
    position: relative;
}

.chart-center-text {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.chart-text {
    display: block;
    font-size: 30px;
}
</style>
  