<template>
  <div class="text-center">
    <div class="card mb-3 mx" style="background-color: #212529; width: 60vw;">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <button @click="goToAddEmployee" class="btn btn-primary ml-auto">
            <i class="bi bi-plus-circle mr-2"></i>Karyawan
          </button>
        </div>

        <table class="table table-striped table-dark" style="background-color: #232A3F !important; border-collapse: collapse !important; border-radius: 10px !important;">
          <thead>
            <tr> 
              <th>NIP</th>
              <th>Nama</th>
              <th>Kode</th>
              <th>Pangkat</th>
              <th>Jabatan</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in paginatedItems" :key="item.id">
              <td>{{ item.nip }}</td>
              <td>{{ item.nama }}</td>
              <td>{{ item.kode }}</td>
              <td>{{ item.pangkat }}</td>
              <td>{{ item.jabatan }}</td>
              <td>{{ item.status }}</td>
              <td>
                <button @click="editItem(item)" class="btn btn-primary btn-sm">Edit</button>
                <button @click="deleteItem(item.id)" class="btn btn-danger btn-sm">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item" :class="{ disabled: currentPage === 1 }">
              <button @click="prevPage" class="page-link">Previous</button>
            </li>
            <li class="page-item" v-for="page in totalPages" :key="page" :class="{ active: page === currentPage }">
              <button @click="changePage(page)" class="page-link">{{ page }}</button>
            </li>
            <li class="page-item" :class="{ disabled: currentPage === totalPages }">
              <button @click="nextPage" class="page-link">Next</button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</template>
  
<script>
export default {
  data() {
    return {
      items: [
        { id: 1, nip: '1234', nama: 'John Doe', kode: '234', pangkat: 'I', jabatan: 'Pengatur Muda', status: 'Aktif' },
        { id: 2, nip: '5678', nama: 'John Doe', kode: '123', pangkat: 'II', jabatan: 'Pengatur Muda', status: 'Aktif' },
        { id: 3, nip: '5432', nama: 'John Doe', kode: '434', pangkat: 'I', jabatan: 'Pengatur Muda', status: 'Aktif' },
        { id: 4, nip: '7654', nama: 'John Doe', kode: '654', pangkat: 'IV', jabatan: 'Pengatur Muda', status: 'Aktif' },
        { id: 5, nip: '2345', nama: 'John Doe', kode: '325', pangkat: 'III', jabatan: 'Pengatur Muda', status: 'Aktif' }
      ], // Your data array
      currentPage: 1,
      itemsPerPage: 10  // Number of items per page
    };
  },
  computed: {
    paginatedItems() {
      const startIndex = (this.currentPage - 1) * this.itemsPerPage;
      const endIndex = startIndex + this.itemsPerPage;
      return this.items.slice(startIndex, endIndex);
    },
    totalPages() {
      return Math.ceil(this.items.length / this.itemsPerPage);
    }
  },
  methods: {
    editItem(item) {
      // Implement edit functionality
      console.log('Edit item:', item);
    },
    deleteItem(id) {
      // Cari index dari item yang akan dihapus berdasarkan ID
      const index = this.items.findIndex(item => item.id === id);

      // Jika index ditemukan (tidak -1), hapus item dari array
      if (index !== -1) {
        this.items.splice(index, 1);
        console.log('Item dengan ID', id, 'telah dihapus.');
      } else {
        console.error('Item tidak ditemukan');
      }
    },
    changePage(page) {
      this.currentPage = page;
    },
    prevPage() {
      if (this.currentPage > 1) {
        this.currentPage--;
      }
    },
    nextPage() {
      if (this.currentPage < this.totalPages) {
        this.currentPage++;
      }
    },
    goToAddEmployee() {
      // Mengarahkan ke halaman tambah karyawan
      this.$router.push('/Karyawan/addKaryawan');
    }
  }
};
</script>
  
<style>
</style>
  