<template>
    <v-navigation-drawer v-model="value" app dark color="accent" class="sidebar">
        <v-list-item>
            <v-list-item-avatar style="width: auto;">
                <img style="width: 50px; padding-top: 8px;" src="~/assets/images/tut.svg" alt="">
            </v-list-item-avatar>
            <v-list-item-content>
                <div class="title">
                    <span>SMA Negeri 1</span>
                    <span class="sub-title">Ambarawa</span>
                    <span class="text-admin" style="font-size: 12px;">Admin</span>
                </div>
            </v-list-item-content>
        </v-list-item>
        <div class="garis-dashed"></div> <!-- Gunakan div dengan kelas untuk garis putus-putus -->

        <!-- Sidebar Items -->
        <v-list dense>
            <v-list-item v-for="(item, index) in items" :key="index" :to="item.route" class="custom-item">
                <v-list-item-action>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>{{ item.text }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>

        <!-- Dropdown Menu -->
        <v-list-group no-action style="padding: 0; margin: 0;">
            <template v-slot:activator>
                <v-list-item style="padding: 0; margin: 0;">
                    <v-list-item-action>
                        <v-icon>mdi-account-multiple</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Pengguna</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </template>

            <!-- Dropdown Menu Items -->
            <v-list-item v-for="(subItem, subIndex) in dropdownItems" :key="subIndex" :to="subItem.route"
                class="custom-item" style="padding: 0; margin: 0;">
                <v-list-item-action>
                    <v-icon>{{ subItem.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>{{ subItem.text }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list-group>

        <v-list-group no-action style="padding: 0; margin: 0;">
            <template v-slot:activator>
                <v-list-item style="padding: 0; margin: 0;">
                    <v-list-item-action>
                        <v-icon>mdi-school-outline</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Kelas</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </template>

            <!-- Dropdown Menu Items -->
            <v-list-item v-for="(subItem, subIndex) in dropdownKelas" :key="subIndex" :to="subItem.route"
                class="custom-item" style="padding: 0; margin: 0;">
                <v-list-item-action>
                    <v-icon>{{ subItem.icon }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>{{ subItem.text }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list-group>
        <div class="btn-logout">
            <v-list-item @click="logout" class="custom-item">
                <v-list-item-action>
                    <v-icon>mdi-logout</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                    <v-list-item-title>Logout</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </div>
    </v-navigation-drawer>
</template>

<script>
export default {
    props: {
        value: Boolean,
    },
    data() {
        return {
            items: [
                { icon: 'mdi-home-outline', text: 'Dashboard', route: '/dashboardAdmin' },
                { icon: 'mdi-calendar-blank', text: 'Periode Akademik', route: '/dashboardAdmin/periode' },
                // Tambahkan item navigasi lainnya sesuai kebutuhan
            ],
            dropdownItems: [
                { icon: '', text: 'Karyawan', route: '/user/karyawan' },
                { icon: '', text: 'Siswa', route: '/user/siswa' },
                // Tambahkan item dropdown lainnya sesuai kebutuhan
            ],
            dropdownKelas: [
                { icon: '', text: 'Daftar Kelas', route: '/classStudent/daftarKelas' },
                { icon: '', text: 'Daftar Murid', route: '/classStudent/daftarMurid' },
                // Tambahkan item dropdown lainnya sesuai kebutuhan
            ],
        };
    },
    methods: {
        logout() {
            localStorage.removeItem('loggedIn');
            this.$router.push( '/' );
        },
    },
    watch: {
        value(newValue) {
            if (!newValue) {
                setTimeout(() => {
                    this.$emit('close');
                }, 300);
            }
        },
    },
};
</script>

<style scoped>
.sidebar {
    width: 250px;
    transition: width 0.5s ease-in-out;
}
.garis-dashed {
    height: 2px; /* Atur tinggi garis */
    background-image: linear-gradient(to right, black 50%, transparent 50%); /* Definisikan pola garis putus-putus */
    background-size: 100px 2px; /* Atur jarak antar garis menjadi 10px */
    border-bottom: 1px dashed #8B8B8B; /* Atur garis bawah */
    margin: 10px 0; /* Atur jarak atas dan bawah */
  }

.custom-item .v-list-item--active {
    background-color: transparent !important;
    /* You can set other styles here to remove the active state appearance */
}
.btn-logout {
    position: absolute;
    bottom: 0;
    width: 100%;
}
</style>
