<template>
    <v-app style="background-color: #20202f;">
        <v-app-bar app color="accent">
            <v-app-bar-nav-icon class="closeSidebar" @click.stop="toggleSidebar"></v-app-bar-nav-icon>
            <h4 class="mt-2" style="font-size: 20px;">Data Karyawan</h4>
            <v-spacer></v-spacer>
            <v-btn class="ml-auto mr-6" outlined>Login</v-btn>
            <v-avatar size="37" style="cursor: pointer;">
                <img src="~/assets/images/avatar.jpeg" alt="Profile Image">
            </v-avatar>
        </v-app-bar>
        <v-main>
            <v-container>
                <v-text-field v-model="search" placeholder="Cari" outlined class="search-input mb-4"
                    prepend-inner-icon="mdi-magnify"></v-text-field>
                    <div class="text-right mb-4">
                    <v-btn @click="addKaryawan" color="primary">
                        <v-icon left>mdi-plus-circle-outline</v-icon>
                        KARYAWAN
                    </v-btn>
                </div>
                <div>
                    <v-card class="card1">
                        <v-card class="card2">
                            <table style="width: 80vw;">
                                <thead>
                                    <tr>
                                        <th>Tahun Ajaran</th>
                                        <th>Status</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item) in filteredData" :key="item.id">
                                        <td>{{ item.nip }}</td>
                                        <td>{{ item.nama }}</td>
                                        <td>{{ item.kode }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </v-card>
                    </v-card>
                </div>
            </v-container>
        </v-main>
        <Sidebar class="transition" v-model="sidebarOpen" /> <!-- Gunakan komponen Sidebar di sini -->
    </v-app>
</template>
    
<script>
import Sidebar from '~/components/Sidebar.vue'; // Import komponen Sidebar

export default {
    components: {
        Sidebar, // Daftarkan komponen Sidebar di halaman ini
    },
    data() {
        return {
            data: [
                { id: 1, nip: '1234567890', nama: 'Budi', kode: 'K001' },
                { id: 2, nip: '1234567891', nama: 'Andi', kode: 'K002' },
                { id: 3, nip: '1234567892', nama: 'Caca', kode: 'K003' },
                { id: 4, nip: '1234567893', nama: 'Dedi', kode: 'K004' },
                { id: 5, nip: '1234567894', nama: 'Euis', kode: 'K005' },
                { id: 6, nip: '1234567895', nama: 'Fafa', kode: 'K006' },
                { id: 7, nip: '1234567896', nama: 'Gaga', kode: 'K007' },
            ],
            search: '', // Untuk menyimpan kata kunci pencarian
            sidebarOpen: false, // Buat variabel untuk mengontrol keadaan sidebar
        };
    },
    computed: {
        filteredData() {
            // Filter data berdasarkan kata kunci pencarian
            return this.data.filter(item =>
                item.nip.toLowerCase().includes(this.search.toLowerCase()) ||
                item.nama.toLowerCase().includes(this.search.toLowerCase()) ||
                item.kode.toLowerCase().includes(this.search.toLowerCase())
            );
        }
    },
    methods: {
        toggleSidebar() {
            this.sidebarOpen = !this.sidebarOpen; // Fungsi untuk mengubah status sidebar
        },
        deleteItem(index) {
            this.data.splice(index, 1); // Menghapus item dari data
        },
        addKaryawan() {
            this.$router.push('/add/addKaryawan'); // Pindah ke halaman add karyawan
        },
    },
};
</script>
    
<style scoped>
.transition {
    transition: transform 0.3s ease-in-out;
}

.closeSidebar {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.card1 {
    width: 300vw;
    height: 55vh;
    background-color: #232A3F;
    border-radius: 10px;
    overflow: hidden;
}

.card2 {
    margin-top: 2%;
    width: 90vw;
    height: 46vh;
    display: inline-flex;
    justify-content: center;
    background-color: #232A3F;
    overflow: hidden;
}

table {
    width: 80vw;
    background-color: #191925;
    border-collapse: collapse;
    overflow: hidden;
}

th,
td {
    padding: 12px;
    /* Atur jarak di tepi sel */
    text-align: left;
    /* Garis bawah untuk setiap baris */
}

th {
    background-color: #232A3F;
    margin-bottom: 10px;
    color: #fff;
    /* Warna teks untuk header */
}

tr:nth-child(even) {
    background-color: #232A3F;
}

tr:nth-child(odd) {
    background-color: #191925;
}
</style>
  