<template>
    <v-app style="background-color: #20202f;">
        <v-main>
            <v-container>
                <v-row align="center" justify="center">
                    <v-col cols="12" sm="10" md="8" lg="6"></v-col>
                    <v-card class="mt-7 card-login" elevation="10">
                        <img class="logo" src="~/assets/images/creetech.svg" alt="">
                        <v-card-title class="title">
                            <h1>Selamat Datang!</h1>
                        </v-card-title>
                        <v-card-text class="text">
                            <p>Website Jurnal & Presensi</p>
                        </v-card-text>
                        <v-row>
                            <v-col cols="12" sm="6">
                                <v-card-text class="mt-12">
                                    <h4 class="text-center">Login in to Your Account</h4>
                                    <h6 class="text-center grey--text">Log in to your account so you can continue
                                        building
                                        <br>
                                        and editing your onboarding flows
                                    </h6>
                                    <v-form @submit.prevent="login">
                                        <v-row align="center" justify="center">
                                            <v-col cols="12" sm="8">
                                                <v-text-field label="Username" outlined dense color="blue" class="mt-8"
                                                    type="text" id="username" v-model="username"></v-text-field>
                                                <v-text-field label="Password" outlined dense color="blue"
                                                    type="password" v-model="password"
                                                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                                    @click:append="showPassword = !showPassword"
                                                    :append-icon-cb="() => (showPassword = !showPassword)"
                                                    :type="showPassword ? 'text' : 'password'"
                                                    class="password-field"></v-text-field> </v-col>
                                            <v-btn class="btn-login" type="submit" color="primary" dark tile
                                                elevation="7">Login</v-btn>
                                            <div class="d-flex justify-center align-center mx-10 mb-16 mt-5 caption-bottom">
                                                <router-link to="/forgot-password" class="forgot">Lupa
                                                    Password?</router-link>
                                                <router-link to="/admin-page" class="admin ml-2" color="primary">Hubungi
                                                    Admin</router-link>
                                            </div>
                                        </v-row>
                                    </v-form>
                                </v-card-text>
                            </v-col>
                            <img class="gb1" src="~/assets/images/journal.svg" alt="">
                        </v-row>
                    </v-card>
                </v-row>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
import Swal from 'sweetalert2';
import axios from 'axios';

export default {
    data() {
        return {
            showPassword: false,
            username: '',
            password: ''
        };
    },
    methods: {
        async login() {
            const auth = {
                username: this.username,
                password: this.password,
            }
            try {
                // Lakukan sesuatu di sini yang mungkin dapat menimbulkan pengecualian
                const response = await axios.post('https://journal-api.exiglosi.com/api/login', auth);
                if (response.status === 200) {
                    const token = response.data.token
                    // Simulasi autentikasi berhasil
                    // Disimpan di session storage untuk tujuan contoh
                    localStorage.setItem('token', token);

                    // Arahkan ke halaman dashboard setelah login berhasil
                    this.$router.push({ name: 'dashboardAdmin' });
                } else {
                    throw new Error('Email atau password salah!');
                }
            } catch (error) {
                // Tangani pengecualian di sini
                Swal.fire({
                    icon: 'error',
                    title: 'Login Gagal',
                    text: error.message,
                });
            }
        }
    }
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.card-login {
    background:
        linear-gradient(90deg, #191925 50%, #ffffff 50%),
        /* Gradien 2 warna */
        url('~/assets/images/gb1.svg');
    /* Gambar */
    background-size: contain;
    /* Ukuran gambar */
    height: 87vh;
    padding-top: 7%;
    position: relative;
    width: 100%;
}

.logo {
    margin-left: 18.3%;
    width: 12%;
}

.title {
    margin-left: 15%;
    font-family: 'Open Sans', sans-serif;
}

.text {
    margin-left: 16.2%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.text-center {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.text-center.grey--text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.password-field .v-input__icon--append {
    cursor: pointer;
}

.btn-login {
    margin-left: 0.1%;
    width: 28vw;
    border-radius: 5px;
}

.caption-bottom {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.forgot {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-left: 4px;
    text-decoration: none;
    color: #fff;
}

.gb1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .card-login {
        height: auto;
        padding-top: 15%;
    }

    .logo {
        margin-left: 10%;
        width: 30%;
    }

    .title {
        margin-left: 6%;
        font-size: 24px;
        /* Sesuaikan ukuran font */
    }

    .text {
        margin-left: 6%;
        font-size: 18px;
        /* Sesuaikan ukuran font */
    }

    .text-center {
        font-size: 18px;
        /* Sesuaikan ukuran font */
    }

    .text-center.grey--text {
        font-size: 14px;
        /* Sesuaikan ukuran font */
    }

    .btn-login {
        margin-left: 2%;
        width: 80%;
    }

    .caption-bottom {
        font-size: 14px;
        /* Sesuaikan ukuran font */
    }

    .admin {
        font-size: 16px;
        /* Sesuaikan ukuran font */
    }

    .gb1 {
        width: 100%;
        max-width: 50%;
        height: auto;
        object-fit: cover;
    }

}
</style>