<template>
    <v-app style="background-color: #20202f;">
        <v-app-bar app color="accent">
            <h4 class="mt-2" style="font-size: 20px;">Mutasi Murid</h4>
            <v-spacer></v-spacer>
            <v-btn class="ml-auto mr-6" outlined>Login</v-btn>
            <v-avatar size="37" style="cursor: pointer;">
                <img src="~/assets/images/avatar.jpeg" alt="Profile Image">
            </v-avatar>
        </v-app-bar>

        <v-main>
            <v-container>
                <v-card class="cardEx" style="background-color: #191925;" elevation="20">
                    <v-btn text right @click="toggleDropdown" class="btn-pilih">
                        Pilih
                        <v-icon>mdi-menu-down</v-icon>
                    </v-btn>
                    <v-expand-transition>
                        <v-card v-if="isDropdownOpen" color="#20202f" class="dd-card" dark>
                            <v-card-text class="dropdown-content">
                                <v-row>
                                    <v-col cols="10" md="3">
                                        <v-select v-model="selectedYear" :items="years" label="Tahun Ajaran"
                                            outlined></v-select>
                                    </v-col>
                                    <v-col cols="12" md="3">
                                        <v-select v-model="selectedLevel" :items="levels" label="Tingkat"
                                            outlined></v-select>
                                    </v-col>
                                    <v-col cols="12" md="3">
                                        <v-select v-model="selectedClass" :items="classes" label="Kelas Tujuan"
                                            outlined></v-select>
                                    </v-col>
                                    <v-col cols="12" md="3">
                                        <v-select v-model="selectedBatch" :items="batches" label="Angkatan Masuk"
                                            outlined></v-select>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-expand-transition>
                    <v-card v-if="!selectedYear && !selectedLevel && !selectedClass && !selectedBatch"
                        class="no-data-card" color="#191925" elevation="0" style="position: absolute; top: 0;">
                        <v-card-text class="card-nodata">
                            <v-row align="center" justify="center">
                                <v-col cols="auto">
                                    <v-icon size="200" color="#8B8B8B"
                                        class="close-icon">mdi-close-circle-outline</v-icon>
                                </v-col>
                            </v-row>
                            <v-row align="center" justify="center">
                                <v-col cols="auto">
                                    <span>Belum ada siswa yang dipilih</span>
                                </v-col>
                            </v-row>
                        </v-card-text>
                    </v-card>
                    <v-card v-if="selectedYear || selectedLevel || selectedClass || selectedBatch"
                        class="data-table-card" color="#20202f" elevation="0">
                        <v-card-text>
                            <v-data-table :headers="headers" :items="data" item-key="name"
                                class="elevation-1 custom-table" ></v-data-table>
                        </v-card-text>
                    </v-card>
                </v-card>
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
export default {
    data() {
        return {
            isDropdownOpen: false,
            selectedYear: null,
            selectedLevel: null,
            selectedClass: null,
            selectedBatch: null,
            years: ['2021/2022', '2022/2023', '2023/2024'],
            levels: ['X', 'XI', 'XII'],
            classes: ['A', 'B', 'C'],
            batches: ['2021', '2022', '2023'],
            data: [
                { name: 'John Doe', age: 20, class: 'A', year: '2021/2022' },
                { name: 'Jane Smith', age: 19, class: 'B', year: '2021/2022' },
                { name: 'David Johnson', age: 21, class: 'C', year: '2022/2023' },
                { name: 'Michael Brown', age: 20, class: 'A', year: '2022/2023'},
                { name: 'Sarah Wilson', age: 19, class: 'B', year: '2023/2024'},
                { name: 'Robert Lee', age: 21, class: 'C', year: '2023/2024'}
                // Tambahkan data lainnya di sini
            ],
            headers: [
                { text: 'Nama', value: 'name' },
                { text: 'Usia', value: 'age' },
                { text: 'Kelas', value: 'class' },
                { text: 'Tahun Ajaran', value: 'year' }
            ]
        };
    },
    methods: {
        toggleDropdown() {
            this.isDropdownOpen = !this.isDropdownOpen;
        },
        loadData() {
            // Metode untuk memuat data ke tabel berdasarkan pilihan dropdown
            // Misalnya, jika Anda memuat data dari server, panggil API di sini
            // dan isi properti data dengan respons yang diperoleh
        }
    },
    watch: {
        selectedYear() {
            this.loadData(); // Panggil metode loadData ketika opsi tahun berubah
        },
        selectedLevel() {
            this.loadData(); // Panggil metode loadData ketika opsi tingkat berubah
        },
        selectedClass() {
            this.loadData(); // Panggil metode loadData ketika opsi kelas berubah
        },
        selectedBatch() {
            this.loadData(); // Panggil metode loadData ketika opsi angkatan berubah
        }
    }
};
</script>

<style scoped>
.cardEx {
    border-radius: 10px;
    height: 75vh;
    text-align: center;
}

.dd-card {
    width: 80vw;
    margin: 0 auto;
}

.dropdown-content {
    margin: 0 auto;
}


.btn-pilih {
    height: 6vh !important;
    margin: 2% 0 auto;
    background-color: #20202f;
    width: 80vw;
}

.card-nodata {
    width: 80vw;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    margin-left: 3%;
    margin-top: 3%;
}

.no-data-card {
    width: 80vw;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    margin-top: 13%;
}

.data-table-card {
    width: 80vw;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    margin-top: 3%;
}
.custom-table{
    background-color: #20202f;
    color: white;
    border-radius: 10px;
    margin: 0 auto;
    width: 80vw;
    text-align: center;
    margin-top: 3%;
}
</style>