<template>
    <v-app style="background-color: #20202f;">
        <v-app-bar app color="accent">
            <h4 class="mt-2" style="font-size: 20px;">Edit Data Karyawan</h4>
            <v-spacer></v-spacer>
            <v-btn class="ml-auto mr-6" outlined>Login</v-btn>
            <v-avatar size="37" style="cursor: pointer;">
                <img src="~/assets/images/avatar.jpeg" alt="Profile Image">
            </v-avatar>
        </v-app-bar>
        <v-main>
            <transition name="fade">
                <v-container v-if="transisi">
                    <v-card style="background-color: #191925; height: 82vh;">
                        <v-form ref="form" v-model="valid" lazy-validation>
                            <v-row class="d-flex justify-center pt-15">
                                <v-col cols="12" md="5">
                                    <v-text-field v-model="nama" label="Nama" outlined></v-text-field>
                                </v-col>
                                <v-col cols="12" md="5">
                                    <v-text-field v-model="nip" label="NIP" outlined></v-text-field>
                                </v-col>
                                <v-col cols="12" md="5">
                                    <v-text-field v-model="pangkat" label="Pangkat/Golongan" outlined></v-text-field>
                                </v-col>
                                <v-col cols="12" md="5">
                                    <v-text-field v-model="kode" label="Kode" outlined></v-text-field>
                                </v-col>
                                <v-col cols="12" md="5">
                                    <v-text-field v-model="jabatan" label="Jabatan" outlined></v-text-field>
                                </v-col>
                                <v-col cols="12" md="5">
                                    <v-text-field v-model="status" label="Status" outlined></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row style="margin-left: 8%;">
                                <v-col cols="12" md="6">
                                    <v-text class="text-akun" style="font-size: 20px;">Akun</v-text>
                                </v-col>
                            </v-row>
                            <v-row class="d-flex justify-center">
                                <v-col cols="12" md="5">
                                    <v-text-field v-model="user" label="User" outlined></v-text-field>
                                </v-col>
                                <v-col cols="12" md="5">
                                    <v-text-field v-model="password" label="Password" outlined
                                        type="password"></v-text-field>
                                </v-col>
                            </v-row>
                            <v-row style="margin-left: 8%;">
                                <v-col cols="12" md="5">
                                    <label for="admin">
                                        <input type="radio" name="role" id="admin" value="admin" v-model="selectedRole">
                                        Admin
                                    </label>
                                    <label for="guru">
                                        <input type="radio" name="role" id="guru" value="guru" v-model="selectedRole">
                                        Guru
                                    </label>
                                    <label for="pengajar">
                                        <input type="radio" name="role" id="pengajar" value="pengajar"
                                            v-model="selectedRole">
                                        Pengajar
                                    </label>
                                </v-col>
                            </v-row>
                            <v-col>
                                <v-row class="d-flex justify-center">
                                    <v-btn class="mt-10" style="width: 70vw; height: 5vh;" @click="confirmSave"
                                        color="primary">
                                        <v-icon left>mdi-check</v-icon>
                                        Simpan
                                    </v-btn>
                                </v-row>
                                <v-row class="d-flex justify-center">
                                    <v-btn class="mt-8"
                                        style="width: 70vw; height: 5vh; border: 1px solid #696969; color: #ffffff; background-color: #20202f;"
                                        @click="confirmCancel">
                                        <v-icon left>mdi-close-circle-outline</v-icon>
                                        Batal
                                    </v-btn>
                                </v-row>
                            </v-col>
                        </v-form>
                    </v-card>
                </v-container>
            </transition>
        </v-main>
    </v-app>
</template>

<script>
import Swal from 'sweetalert2';

export default {
    data() {
        return {
            nama: '',
            nip: '',
            pangkat: '',
            kode: '',
            jabatan: '',
            status: '',
            user: '',
            password: '',
            selectedRole: '',
            valid: true,
            transisi: false,
        }
    },
    methods: {
        confirmSave() {
            // Memeriksa apakah semua data telah diisi
            if (this.isDataComplete()) {
                // Tampilkan dialog konfirmasi
                Swal.fire({
                    title: 'Apakah data sudah benar?',
                    icon: 'question',
                    showCancelButton: true,
                    cancelButtonText: 'Batal',
                    confirmButtonText: 'Ya, simpan!',
                    confirmButtonColor: '#191925',
                    customClass: {
                        cancelButton: 'cancel-custom',
                        confirmButton: 'confirm-custom',
                    },
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.saveData();
                    }
                });
            } else {
                // Tampilkan pesan kesalahan jika ada data yang belum diisi
                Swal.fire({
                    title: 'Gagal menyimpan!',
                    text: 'Silakan lengkapi semua data terlebih dahulu.',
                    icon: 'error',
                });
            }
        },
        confirmCancel() {
            Swal.fire({
                title: 'Batal edit data?',
                icon: 'question',
                showCancelButton: true,
                cancelButtonText: 'Batal',
                confirmButtonText: 'Ya',
                confirmButtonColor: '#191925',
                customClass: {
                    cancelButton: 'cancel-custom',
                    confirmButton: 'confirm-custom',
                },
            }).then((result) => {
                if (result.isConfirmed) {
                    // Jika pengguna menekan "Ya", arahkan mereka ke halaman daftar siswa
                    this.cancel();
                }
            });
        },
        isDataComplete() {
            // Memeriksa apakah semua data telah diisi
            return (
                this.nama !== '' &&
                this.nip !== '' &&
                this.pangkat !== '' &&
                this.kode !== '' &&
                this.jabatan !== '' &&
                this.status !== '' &&
                this.user !== '' &&
                this.password !== '' &&
                this.selectedRole !== ''
            );
        },
        saveData() {
            if (this.$refs.form.validate()) {
                try {
                    // Simpan data sesuai kebutuhan Anda
                    console.log('Data yang akan disimpan:', {
                        nip: this.nip,
                        nama: this.nama,
                        kode: this.kode,
                        pangkat: this.pangkat,
                        jabatan: this.jabatan,
                        status: this.status,
                        user: this.user,
                        password: this.password,
                        role: this.selectedRole,
                    });

                    // Pindahkan ke halaman yang sesuai setelah menyimpan data
                    this.$router.push('/pengguna/karyawan');
                } catch (error) {
                    console.error('Error while saving data:', error);
                    // Tampilkan pesan kesalahan jika gagal menyimpan data
                    alert('Gagal menyimpan data. Silakan coba lagi.');
                }
            }
        },
        cancel() {
            this.$router.push('/user/karyawan');
        },
    },
    mounted() {
        this.transisi = true;
    }
}
</script>

<style scoped>
label {
    margin-bottom: 10px;
    font-size: 16px;
}

/* CSS untuk radio button */
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #525252;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(5px);
    margin-right: 2px;
}

input[type="radio"]:checked {
    background-color: #82EF98;
    /* Warna background ketika dicentang */
}

.cancel-custom {
    background-color: #20202f !important;
    color: #ffffff !important;
    border: 1px solid #696969 !important;
}
</style>
